page-myorder {
    .empty-cart{
        margin-top: 50%;
        height: 100%;
        .empty-results{
             ion-icon{
                  font-size: 105px;
                  color: rgb(175, 175, 175);
             }

             p{
                  font-size: 30px;
                  color: rgb(175, 175, 175);
             }
        }
    } 
   
}
