page-message {
 
 on-input{
    --background: rgb(0,0,0);

}

.itemform {
    border-radius: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #000000;
    background: rgb(255,255,255);
    height: 10%;
    width: 100%;
}

}
