page-lightgaugesteel {
 
    
  ion-content{
   background-color: #f4f4f4 !important;
  }
    
  .itemPosicao {
   text-align: center;
  }
  h2 {
    margin: 0;
    font-size: 20px !important;
    color: #364F6B !important;
    font-weight: bold !important;
    color: #364F6B !important;
  }
  .space {
    padding: 12px;
   } 
   
 

}
