<!--
  Generated template for the PanelstripPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>84R Panel - Strip</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-navbar>
    <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=3000 #mySlider>

      <ion-slide *ngFor="let item of elenco">
        <ion-item class="itemPosicao" color="dark">
          {{item.posicao}}
        </ion-item>
        <img src="{{item.img}}" #myImage (click)="presentImage(myImage)">
        <ion-item color="primary">
          {{item.nome}}
        </ion-item>
      </ion-slide>
    </ion-slides>

    <div class="swiper-button-next" (click)="slideNext()"></div>
    <div class="swiper-button-prev" (click)="slidePrev()"></div>

  </ion-navbar>



  <ion-card-content>



    <p>
      <font face="Times New Roman" color="black" size="3">84R Panel - Strip : One type of Aluminum Strips False Ceilings
        produced at QAPROFIL. It is known as panel and joint.</font>
    </p>
    <p>
      <font face="Times New Roman" color="black" size="4">* Customise your product :</font>
    </p>
    <!--<p>
      <font face="Times New Roman" color="black" size="3">- color:</font>
      <font face="Arial Black" color="black" size="3"> 0.43 </font>
    </p>
    <p>
      <font face="Times New Roman" color="black" size="3">- Thickness / mm :</font>
      <font face="Arial Black" color="black" size="3"> 0.43 </font>
    </p>
    <p>
      <font face="Times New Roman" color="black" size="3">- Length / mm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </font>
      <font face="Arial Black" color="black" size="3"> 4000-6000 </font>
    </p>-->

    <ion-list>
    <ion-item>
      <ion-label>Colors</ion-label>
      <ion-select [(ngModel)]="color" cancelText="cancel" okText="Ok">
        <ion-option *ngFor="let color of colors" value="{{color.code}}">{{color.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Width</ion-label>
      <ion-select [(ngModel)]="width" cancelText="cancel" okText="Ok">
        <ion-option *ngFor="let width of widths" value="{{width.value}}">{{width.value}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  </ion-card-content>
  <p></p>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="presentToast()"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

</ion-content>