<ion-menu [content]="content" type="overlay">
  <style>
    .masters {

      background-color: white;
     
    }

    .toolbar {
      background-image: url('assets/img/steel.jpg');
      background-size: cover;
      background-position: center center;

    }

    .header {
      height: 15%;
      background-color: #fff;
    }

    .title {
      text-align: center;
      color: #800000;
    }

    .icon {
      display: inline-block;
      font-size: 35px;
      color: #03224c;
      vertical-align: middle;
      padding: 2px;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .logo {
      margin: 5px;
    }
  </style>


  <ion-header class="header">


    <table class="logo">

      <tr>
        <td> <img height="50" width="50" src="assets/img/logo.png" /></td>
        <td>
        <td>
          <font face="Times New Roman" color="white" size="6" class="title"> <b>QAPROFIL</b></font>
        </td>
      </tr>
    </table>
  </ion-header>





  <ion-content class="masters">

    <ion-list>




      <button class="masters" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div class="icon">
          <ion-icon ios="{{p.ios}}" md="{{p.md}}"></ion-icon>
        </div>
        <h2 class="text"><b>
            <font face="Cambria" color="0000" size="4">{{p.title}} </font>
          </b></h2>
      </button>








    </ion-list>








  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>`