/*page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
      color: #6d071a;
  }

  .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin: 1px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 1px;
    font-size: 1px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}*/
ion-slides {
  height: 100%;
}
.photo{
 
  background-color: #aaa9ad;

}
.masters {
 
  /*background: url('assets/img/steel.jpg') repeat*/
  background-color: white;

}
ion-slide {
  display: block;
}

ion-slide img {
 position: relative; 
 padding: 6%;
  width: 100%;
}

.slider-text {
  padding-top: 20%;
}

.slider-text h2 {
  font-family: 'SF UI Display Semibold';
}

.navigator {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 25%;
  background-color: #800000;
  border-radius: 0px 0px 15px 15px; 
}
.navig {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
 
}