page-galleryalum {
    
  ion-content{
    background-image: url('../assets/img/background.png');
    -webkit-background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    
    background-position: center;
  }
    
    itemPosicao {
  text-align: center;
}
    
    
    
}
